$header-background: #2F2F2F;
$navbar-bg: #2f2f2f8f;
$footer-bg: #2f2f2feb;
$blur: #2f2f2fee;
$padding-size: 130px 0;
$white: #fff;
$btn-color: #F59B00;
$flash-card-bg: #A3A3A3;
$form-bg: #393939;
$input-color: #ffffff62;

$first-second-flash-card-bg: #ffe1e8b2;
$third-flash-card-bg: #F9DCFFb2;
$fourth-flash-card-bg: #FFDEE7b2;
$fifth-flash-card-bg: #ECF1FFb2;
$sixth-flash-card-bg: #FADADEb2;
$seventh-flash-card-bg: #D9E6FEb2;
$eighth-flash-card-bg: #EBF4BFb2;